.spike {
  position: absolute;
  width: 64px;
  height: 64px;
  object-fit: contain;
  z-index: -1;
}


/* Espinhos no teto */
.top {
  top: 1px;
  transform: rotate(180deg);
}


/* Espinhos no chão */
.bottom {
  bottom: 1px;
}
