.spikes{
    position:absolute;
    display:flex;
    gap:4px;
}

.spikes.bottom{
    bottom:0;
}

.spikes.top{
    top:0;
}

.spike{
    width:50px;
    height:50px;
}

.top.spike{
    transform:rotate(180deg);
}
