.spike {
  position: absolute;
  width: 64px;
  height: 64px;
  object-fit: contain;
}


/* Espinhos no teto */
.top {
  top: 5px;
  transform: rotate(180deg);
}


/* Espinhos no chão */
.bottom {
  bottom: 5px;
}
